html{
	height:100%;
}

body{
	font-family:  'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	height:86%;
}

div{
	width:100%;
	overflow:hidden;
	position:relative;
}

section{
	background-color: #ffffff;
	width:960px;
}

h1{
	font-family: 'Georgia', Times, Times New Roman, serif;
	color:#4aaaa5;
	font-weight: bold;
	font-size: 24px;
}

h2{
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #4aaaa5;
	font-weight: bold;
	text-align:center;
}

hr{
	margin-top: 35px;
	border-height: 10px;
	border-color: gray;
}

a{
	text-decoration:none;
}

img{
	float:left;
	margin: 10px;
}

form{
	line-height: 35px;
}


input{
	width: 620px;
	height: 20px;
	padding: 5px;
	color:lightgray;
}

textarea{
	width: 620px;
	height: 200px;
}

p{
	line-height: 35px;
}

.header a{
	margin:15px;
	color: black;
}

.head-container{
	border-bottom: 5px solid #cccccc;
}


.header{
	height: 65px;
	position: relative;
}

.header h1{
	float: left;
	padding:20px;
	background-color: #4aaaa5;
	width: auto;
	color:white;
	font-weight: bold;
}

.nav{
	position: absolute;
	bottom:0;
	right:0;
	width:270px;
	padding:15px 0px;
}

.nav a:hover{
	color: #4aaaa5;
	text-decoration: underline;
}

.main-container{
	background-image: url("../../assets/images/footer_lodyas.jpg");
	background-repeat: repeat;
	border-bottom: 10px solid #dddddd;
	padding-top: 20px;
	height:100%;
	overflow:auto;
}

.content{
	width:650px;
	float:left;
	padding: 10px;
	margin-bottom: 20px;
}

.sidebar{
	width: 270px;
	float:right;
	padding: 7px;
	min-height: 130px;

}

.sidebar hr{
	border-height: 2px;
	border-color: lightgray;
}

.sidebar img{
	position:relative;
	margin: 0px 18px;
	left: 9px;
}

.submit{
	width:auto;
	height:auto;
	padding:10px 35px;
	background-color: #4aaaa5;
	color: #ffffff;
	border: none;
	font-size: 18px;
}

.pictures{
	float:left;
	position:relative;
}

.pictures-right{
	float: right;
	position:relative;
}

.pictures img{
	margin: 5px;
}

.pictures-right img{
	margin: 5px;
}

.title-wrap{
	width: 300px;
	height: 50px;
	position: absolute;
	left:5px;
	bottom: 15px;
	z-index: 1;
	background-color: #4aaaa5;
}

.title-wrap h1{
	color:#ffffff;
	margin: 12px 12px;
	text-align: center;
}

.footer{
	background-color: #666666;
	position:absolute;
	bottom:0;
	z-index:2; /* For browser resizing. Footer is responsive */
}

.footer p{
	text-align: center;
	color: #ffffff;
	font-size: 12px;
}

@media screen and (max-width: 980px){

	p{
		clear:left;
	}

	div{
		width: 980px;
		padding: 0 70px;
	}


	input{
		width: 300px;
	}

	textarea{
		width: 300px;
	}
	
	.header h1{
		margin-right: 250px;
	}

	.content{
		width: 310px;

	}

	.nav{
		position:relative;
		float:left;
		right:85px;
	}

	.sidebar{
		float:left;
		position:relative;
		left:50px;
	}

	.pictures .pictures-right{
		float:none;
		margin:auto auto;
	}

	.title-wrap{
		width:160px;
		position:relative;
		left:5px;
		bottom:70px;
	}
	
	.title-wrap h1{
		font-size:24px;
		width:300px;
		position: relative;
		right:80px;
	}


}

@media screen and (max-width: 768px){

	
	
}

@media screen and (max-width: 640px){
	
}